body {
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

#barraSuperior {
    background-color: #0A5786;
    width: 100%;
    height: 8vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    user-select: none;
    
}

#barraSuperior img {
    height: 100%; /* Ajusta o tamanho da logo */
}

#barraSuperior h3 {
    margin: 0 10px; /* Adiciona espaçamento horizontal entre os textos */
    color: #FFB246; /* Garante que o texto seja visível */
    font-size: 30px; /* Ajusta o tamanho do texto */
    white-space: nowrap; /* Evita que o texto quebre em várias linhas */
    paint-order: stroke fill;
    -webkit-text-stroke: 3px #996B2A;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.296);
}

#mais {
    display: flex;
    align-items: center;
}

#mais h3 {
    margin-right: 0%;

}

#mais svg {
    color: #FFB246;
}


#quadradoMais {
    animation: 0.2s;
    width: 12%;
    height: 28vh;
    background-color: #FFB246;
    position: absolute;
    top: 80%;
    left: 87.5%;
    border-radius: 10px;
    opacity: 0;
    z-index: -99;
}

#mais:hover #quadradoMais {
    opacity: 1;
    z-index: 99;
<<<<<<< HEAD
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
=======
>>>>>>> 7612e05e642d62a5ac7396b9a43696871366c408
    
}

#quadradoMais h3 {
    color: #000000;
    font-size: 28px;
    margin-left: 3%;
    text-align: left;
    padding-top: 5%;
    -webkit-text-stroke: 0px #996B2A;
    text-shadow:1.5px 1.5px rgba(0, 0, 0, 0.296);
}

.barraTitulo {
    font-weight: 700;
    font-size: 40px;
    width: 100%;
    height: 9vh;
    align-content: center;
    background-color: #FFB246;
    display: flex; /* Adicionado */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    text-align: center; /* Garante alinhamento horizontal do texto */
}

.separador {
    width: 100%;
    height: 3vh;
    background-color: #FFB246;
}

.fundoEscuro {
    background-color: #00385B;
}

.fundoClaro {
    background-color: #FFEAA7;
}
#linha1 {
    width: 100%;
    height: 75vh;
    vertical-align: bottom;
    background-image: url("/Assets/fundoStars.png");
    background-size: 100%;
    text-align: center;
}
#linha3 {
    width: 100%;
    height: 50vh;
    vertical-align: top; 

}

.linha5 {
    width: 100%;
    height: 40vh;
    background-color: #00385B;
}

.anaRoubada {
    font-weight: 700;
    font-size: 80px;
    font-weight: 600;    
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    text-align: center; 
    margin-top: 5%;
    margin-bottom: 2%;
    color: #FFFFFF;
    paint-order: stroke fill;
    -webkit-text-stroke: 14px #00273F;
    
    
}

h3 {
    margin: 0px;
}
.numero {
    font-size: 140px;
    font-family: "ADLaM Display", system-ui;
    color: #FFB246;

}


.anaRoubadaLinha1 {
    margin-left: 10%;
    margin-right: 10%;
    display: flex; 
    justify-content: space-between;
}

#rodape {
    background-color: #2495DB;
    height: 15vh;
    display: flex;
    justify-content: space-between; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    text-align: center; 
}

#rodape h3 {
    color: #FFFFFF;
}

#redesSociais {
    margin-right: 2.7%;
}


#iconesRedesSociais svg {
    color: #FFFFFF;
    transition: 0.2s;
    
}
#redesSociais div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}


#logo {
    width: 35%;

} 

#logoPura {
    scale: 0.9;
}

a{
    text-decoration: none;

}

#texto {
    font-weight: 300;
    color: #FFFFFF;
    margin-top: 3%;
    font-size: 40px;
    text-align: center;
}

